<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- RevisionUrl is used to provide a link in the commit email to the revision details. -->
    <add key="RevisionUrl" value="" />
    <add key="EmailFrom" value="" />
    <add key="EmailTo" value="" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>